<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" href="/"></i>Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/rooms">Hotwire Demo</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/turbo_frames/simple_frames">Simple</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/turbo_frames/nested_frames">Nested</a>
</li>
</ul>
