<h1 class="mb-5">Turbo Frame Examples</h1>
<h3>Render a turbo frame inside a turbo frame</h3>
<%= turbo_frame_tag "outer", src:"turbo_frames/new" do %>
  <p>Index view contents</p>
  <%= link_to 'Render by id outer', 'turbo_frames/new' %>
<% end %>
<br>
<h3>Render a turbo frame from the outside</h3>
<%= link_to 'render by turbo frame data attribute', 'turbo_frames/show', data: {turbo_frame: 'other'} %>
<%= turbo_frame_tag "other" do %>
  <p>Render turbo frame with link from the outside</p>
<% end %>
