<%= turbo_frame_tag "outer" do %>
  <p>New view outer turbo frame</p>
  <%= link_to 'Replace index view contents', 'turbo_frames' %>
  <%= turbo_frame_tag "inner" do %>
    <p>New view inner turbo frame</p>
    <%= link_to 'Render by id inner', 'turbo_frames/show' %>
  <% end %>
<% end %>
