<%= render partial: 'layouts/nav' %>
<h1>Hotwire Demo</h1>
<p>This demo is replicates the code used in the hotwire demonstration video at <a href="https://hotwire.dev" target="_blank">Hotwire.dev</a></p>

<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<%= link_to 'New room', new_room_path %>

<div id="rooms">
  <%= render @rooms %>
</div>
